/* Import ROBOTO SLAB 300 et 600*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap');

body{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

p {
    margin-bottom: 20px;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* container doit gérer juste la dimension et le placement*/
.container {
    width: 1000px;
    margin: 0 auto; /* permet de centrer le container*/
}

nav, header, main {    
    background:#eeeeee;
}


/* NAVBAR */
nav .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    
    color: crimson;
    padding: 5px; /* permet d'élargir la zone clickable et espacer les liens*/    
    text-decoration: none;
    font-weight: bold;
}

/*pseudo classe hover: permet de changer la couleur des balises a quand on les survoles*/
nav a:hover{
    color: rgb(164, 16, 45);
}

/* HEADER */
header img {
    width: 100%;
}

/* TITLE H2 */
h2.title {
    font-size: 1.5em;
    font-weight: bold;
    color: crimson;
    padding: 10px;
    border-bottom: 4px solid orangered;
    margin-bottom: 10px;
}

h2.title span{
    color: orangered;
}


/* CARDS */ 
.cards-container {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 220px;
    text-align: center;
    background: white;
    padding: 5px;
    border: solid rgb(228, 226, 226);
}

.card img {
    width: 100%;
}

.card h3{
    font-size: 1.5em;
    color: crimson;
    padding: 10px;
    border-bottom: 4px solid orangered;
    margin-bottom: 10px;
}

.card p {
   font-size: 16px;
   line-height: 30px;
}


/* SECTION PRESENTATION */
.presentation {
    display: flex;
    justify-content: space-between;
}

.presentation div {
    width: 48%;
}

div.social-icones {
    display: flex;
    justify-content: space-around;
}


div.social-icones i {
    color: orange;
    font-size: 48px;
}

iframe {
    width: 100%;
}


/* FOOTER */
footer {
    background: rgb(84, 27, 84);
    color: white;    
    padding: 40px;    
}

footer ul{
    text-align: center;
}

footer li {
    display: inline-block;
    width: 100px;
}

footer li a {
    color: white;
    text-decoration: none;
}

footer li a:hover {
    text-decoration: underline;
}

/* CSS UTILITIES*/
/*.pad-x {
    padding: 0 15px ;
}*/


