/* Import ROBOTO SLAB 300 et 600*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap');

body{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

p {
    margin-bottom: 20px;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* container doit gérer juste la dimension et le placement*/
.container {
    width: 1000px;
    margin: 0 auto; /* permet de centrer le container*/
}

nav, header, main {    
    background:#eeeeee;
}


/* NAVBAR */
nav .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    
    color: crimson;
    padding: 5px; /* permet d'élargir la zone clickable et espacer les liens*/    
    text-decoration: none;
    font-weight: bold;
}

/*pseudo classe hover: permet de changer la couleur des balises a quand on les survoles*/
nav a:hover{
    color: rgb(164, 16, 45);
}

/* HEADER */
header img {
    width: 100%;
}

/* TITLE H2 */
h2.title {
    font-size: 1.5em;
    font-weight: bold;
    color: crimson;
    padding: 10px;
    border-bottom: 4px solid orangered;
    margin-bottom: 10px;
}

h2.title span{
    color: orangered;
}


/* CARDS */ 
.cards-container {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 220px;
    text-align: center;
    background: white;
    padding: 5px;
    border: solid rgb(228, 226, 226);
}

.card img {
    width: 100%;
}

.card h3{
    font-size: 1.5em;
    color: crimson;
    padding: 10px;
    border-bottom: 4px solid orangered;
    margin-bottom: 10px;
}

.card p {
   font-size: 16px;
   line-height: 30px;
}


/* SECTION PRESENTATION */
.presentation {
    display: flex;
    justify-content: space-between;
}

.presentation div {
    width: 48%;
}

div.social-icones {
    display: flex;
    justify-content: space-around;
}


div.social-icones i {
    color: orange;
    font-size: 48px;
}

iframe {
    width: 100%;
}


/* FOOTER */
footer {
    background: rgb(84, 27, 84);
    color: white;    
    padding: 40px;    
}

footer ul{
    text-align: center;
}

footer li {
    display: inline-block;
    width: 100px;
}

footer li a {
    color: white;
    text-decoration: none;
}

footer li a:hover {
    text-decoration: underline;
}

/* CSS UTILITIES*/
/*.pad-x {
    padding: 0 15px ;
}*/

/* LES MEDIA QUERIES */
/* 
    Le but est de rendre l'interface responsive (en francais: adaptive)
    - réécriture des regles css selon des points de rupture
*/

/* règle pour résolution <= 768px (type mobile) */
@media screen and (max-width:768px) {
    .container {
        width: 100%;
        padding: 10px;
        /* on met en border-box pour que les 100% avec les padding définit */
        box-sizing: border-box;        
    }
   
    .cards-container {
        /* on dit qu'il faut passer à la ligne 
        comme on a donné une taille 100% à la carte, on a aura une carte par ligne
        j'aurai pu mettre 48% pour avoir 2 cartes par ligne*/
       flex-wrap: wrap; 
    }

    /* on passe ne mode 1 colonne , ie card fait 100%*/
    .card {
        width: 100%; /* on dit que les cartes font 100%*/        
        box-sizing: border-box; 
        /* le border box n'inclue pas le margin, du coup on verra bien les marges*/
        margin-bottom: 20px;
    }


    div.presentation {
        flex-wrap: wrap;
    }

    div.presentation .text,  div.presentation .video{
        width: 100%;
        margin-bottom: 20px;
    }
}



/*
comme notre box était définie à 1000px, on doit 
gérer un autre braking point pour les résoution entre notre 1er braking point et l'affichage au dela de 1000px.
On va se coller aux résolution standard, on va aller jusqu'à 1024 px

C'est résolution type tablette
*/
@media screen and (min-width:769px) and  (max-width:1024px) {
    /* on a copier coller les memes règles que pour le braking point précédent */
    .container {
        width: 100%;
        padding: 10px;
        /* on met en border-box pour que les 100% avec les padding définit */
        box-sizing: border-box;        
    }
   
    .cards-container {
        /* on dit qu'il faut passer à la ligne 
        comme on a donné une taille 100% à la carte, on a aura une carte par ligne
        j'aurai pu mettre 48% pour avoir 2 cartes par ligne*/
       flex-wrap: wrap; 
    }

    /* on passe ne mode 2 colonne , ie card fait 48% comme ca le flex nous met une margin au centre*/
    .card {
        width: 48%; /* on dit que les cartes font 100%*/
        /* avec border-box on indique que c'est l'ensemble de la box qui fait les  48%. Ca inclue padding, ... 
        sinon, ca fonctionnera mal si on diminue de qq px la résolution*/
        box-sizing: border-box; 
        /* le border box n'inclue pas le margin, du coup on verra bien les marges*/
        margin-bottom: 20px;
    }


    div.presentation {
        flex-wrap: wrap;
    }

    div.presentation .text,  div.presentation .video{
        width: 100%;
        margin-bottom: 20px;
    }
}

